body
{
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.5)),url(bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
  font-family: 'Work Sans', san-serif;
}

h1{
	margin: 0px;
	margin-left: 20px;
	font-family: 'Sacramento', cursive;
	font-size: 140px;
	font-weight: bold;
	color: #c9c9c9;
}

h2{
	margin: 0;
	float: left;
	margin-left: 175px;
	margin-top: -60px;
	color: #c9c9c9;
	font-size: 27px;
}


.menu{
  border-bottom: 1px solid lightgrey;
  margin-top: 20px;
}

#menuitems {
  list-style-type: none;
  margin: 0;
  padding: 0px 3px 0px 0px;
  overflow: hidden;
  /*background-image: linear-gradient(to bottom,rgb(255,255,255),rgb(250,188,2));*/
  margin-left: -10px;
  margin-right: -10px;
  color: white;
}

.men {
  float: left;
  font-size: 20px;
}

li a {
  display: block;
  color: #c9c9c9;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: .25s;
}

li a:hover {
  color: #818182;
  opacity: 10;
  transform: scale(1.1);
}

#search {
  font-weight: normal ;
  font-style: italic;
  float: left;
  border: none;
  border-radius: 25px;
  padding: 8px;
  padding-left: 12px;
  margin-right: 12px;
  margin-top: 8px;
  font-size: 17px;
  vertical-align: middle;
  display: table-cell;
  color: #ffffff;
  background-color: rgba(250,250,250,0.22);
  margin-bottom: -33px;
}

::placeholder{
  color: #1a1a1c;
}

button{
  background-color: rgba(0,0,0,0);
  float: right;
 
  border:none;
  margin-right: -265px;
  margin-top: 16.5px;
  color: #252526;
 /* margin-left: 860px;
  margin-top: 7px;
  transition: 0.75s;*/
  border-radius: 20px;
  transition: 0.5s;
  transform: scale(1.5);  
}

button:hover{
		transform: scale(1.7);
		color: darkgrey;
	}

.reg{
	display: flex;
	justify-content: center;
	max-width: 270px;
	min-width: 270px;
	padding: 50px 150px 80px 150px;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	border-radius: 10px;
	background-color: rgba(26, 26, 28, 0.5); 

}
input[type="submit"]{
	min-width: 150px;
	justify-content: center;
	color: color: #1a1a1c;
	background-color: rgba(0,255,28,0.6);
}

input{
	 max-width: 400px;
	 min-width: 250px;
	 background-color: rgba(250,250,250,0.22);
	 border:none;
	 padding: 15px 10px 15px 10px;
	 margin: 5px;
	 transition: 0.5s;
	 font-size: 17px;
}

input[placeholder]{
	color: #1a1a1c;
}

textarea{
	 max-width: 400px;
	 min-width: 250px;
	 background-color: rgba(250,250,250,0.22);
	 border:none;
	 padding: 15px 10px 15px 10px;
	 margin: 5px;
	 transition: 0.5s;
	 font-size: 17px;	
	 font-family: 'Work Sans', san-serif;
	 transition: 0.5s;
}

.slc option{
	background-color: rgba(250,250,250,0.5);
	 position: relative;
	 display: block;
	 line-height: 3em;
	 transition: 1s;

}

select{
	 max-width: 400px;
	 min-width: 250px;
	 background-color: rgba(250,250,250,0.22);
	 border:none;
	 margin: 5px auto 5px 5px;
	 padding: 15px 13px 15px 10px;
	 -webkit-appearance: none;
	 transition: .5s;
	 font-size: 17.7px;
	 color: #000;
}

input:hover{
	transform: scale(1.07);
}

select:hover{
	transform: scale(1.07);
}

textarea:hover{
	transform: scale(1.07);
}

input:invalid:required{
	border-color: red;
}